header{
    height: 10vh;
    width: 99%;
    border-bottom: 1px darkblue solid;
    background: linear-gradient(90deg, rgba(7,3,82,1) 0%, rgba(8,8,190,1) 45%, rgba(64,160,180,1) 100%);
    color: white;
}

aside{
    height:85vh;
    width: 20vw;
    display: inline-flex;
    flex-direction: column;
    border-bottom: 1px darkblue solid;
    background: linear-gradient(90deg, rgba(7,3,82,1) 0%, rgba(8,8,190,1) 45%, rgba(64,160,180,1) 100%);
    color: white;
}

main{
    display: inline-block;
}

@property --myColor1 {
    syntax: '<color>';
    initial-value: rgba(32,32,124,1);
    inherits: false;
  }
  
  @property --myColor2 {
    syntax: '<color>';
    initial-value: rgba(48,181,255,1);
    inherits: false;
  }

.btn_aside{
    height: 17vh;
    background: linear-gradient(90deg, var(--myColor1) 0%, var(--myColor2) 100%);
    color: white;
    transition: --myColor1 .7s, --myColor2 .7s;
}
.btn_aside:hover{
    --myColor1: rgba(13,13,48,1);
    --myColor2: rgba(30,113,158,1);
}
 
.Id{
width: 5vw;
}
.Tipo_persona{
width: 18vw;

}
.Nombre{
width: 15vw;

}
.Direccion{
width: 15vw;

}
.Telefono{
width: 10vw;

}
.Email{
width: 15vw;

}
 
#prov{
    margin-top: 5vh;
    position: absolute;
}

#agregar_inv{
position:absolute;
}
